.footer-width {
    width: 100%;
    height: 40px;
}

.pos {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    z-index: 1000;
    will-change: transform;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.app-spacer {
    flex: 1 1 auto;
}